#login-button-text {
  color: black;
  margin-right: 10px;
}
.mat-button-base {
  height: 50px;
  width: 170px;
  border-radius: 50px;
}
button {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.4));

  .mat-flat-button .mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.page {
  width: 410px;
  font-size: 26px;
}

@media (max-width: 800px) {
  .page {
    width: 350px;
    z-index: -1;
  }
}
