#navbar {
  background-color: rgba(44, 54, 63, 0.8);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 100%;
  padding: 5px 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

  #main-logo {
    img {
      width: 75px;
      -webkit-animation-name: rotate;
      animation-name: rotate;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      animation-direction: reverse;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  }

  #nav-links {
    ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 330px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      li a {
        text-decoration: none;
      }
    }
  }
}

.fixed-hidden {
  position: fixed;
  -webkit-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  transform: translateY(-80px);
  -webkit-box-shadow: 0px 2px 18px #1d2429;
  box-shadow: 0px 2px 18px #1d2429;
}

.fixed-shown {
  position: fixed;
  -webkit-box-shadow: 0px 2px 18px #1d2429;
  box-shadow: 0px 2px 18px #1d2429;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
