<div
  id="navbar"
  [ngClass]="
    scrolled == 1 ? 'fixed-hidden' : scrolled == 2 ? 'fixed-shown' : ''
  "
>
  <div id="main-logo">
    <a routerLink=""><img src="./assets/logo.png" alt="" /></a>
  </div>

  <div id="nav-links">
    <ul>
      <li>
        <a routerLink="challenges">Challenges</a>
      </li>
      <li>
        <a routerLink="submit-challenge">Submit Challenge</a>
      </li>
      <li>
        <a routerLink="learn">Learning</a>
      </li>
    </ul>
    <app-login-button routerLink="login">Login with</app-login-button>
  </div>
</div>
