<header>
  <div class="text">
    <h1>Become a <span class="highlight">better developer</span></h1>
    <p>
      by doing some random challenges provided by other people or help others
      <span class="highlight">submitting your own ideas</span>!
    </p>
    <app-login-button routerLink="login" [color]="'warn'"
      >Login with GitHub</app-login-button
    >
  </div>
  <img src="/assets/NO-IDEA.svg" alt="" />
</header>

<section id="purpose-section">
  <div id="divider" inViewport>
    <div class="divider-line-one"></div>
    <h1>WHAT IS THE PURPOSE</h1>
    <div class="divider-line-two"></div>
  </div>
  <div class="purpose">
    <p class="purpose-heading" inViewport>.story</p>
    <p inViewport>
      I was bored and was in search for project ideas to fill up my portfolio
      and came up with idea of creating website that will throw at me some
      random challenges that will help me improve my skills.
    </p>
  </div>
  <div class="purpose">
    <p class="purpose-heading" inViewport>.how-does-it-work</p>
    <div class="accept">
      <p class="purpose-title highlight" inViewport>Accept challenge:</p>
      <p class="purpose-text" inViewport>
        <span class="number">00.</span> You generate (actualy take it from the
        database at the moment) an idea and if you like it - save to your
        challenges list.
      </p>
      <p inViewport>
        <span class="number">01.</span> When the project is ready you mark it as
        done in your cabinet and provide link to github + working demo.
      </p>
      <p inViewport><span class="number">02.</span> Repeat.</p>
    </div>
    <div class="submit">
      <p class="purpose-title highlight" inViewport>Submit challenge:</p>
      <p class="purpose-text" inViewport>
        <span class="number">00.</span> Submit your challenge to our database
        through link on top of the page.
      </p>
      <p inViewport><span class="number">01.</span> Repeat.</p>
    </div>
  </div>
</section>

<footer>
  <div id="divider" inViewport>
    <div class="divider-line-one"></div>
    <h1>NEED TO KNOW MORE?</h1>
    <div class="divider-line-two"></div>
  </div>
  <div id="contact-me">
    <p>Then you probably should</p>
    <a href="" class="highlight spinnin">CONTACT ME</a>
    <p>Or not. It’s your decision.</p>
  </div>
</footer>
