header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 75px;
}

.text {
  max-width: 670px;

  h1 {
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 0.01em;
    margin-bottom: 85px;
  }

  p {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 85px;
  }
}

#divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 50px;
  overflow: hidden;
  opacity: 0;

  div {
    width: 280px;
    border: 1px solid #909590;
    background-color: #909590;
  }

  .divider-line-one {
    transform: translate(-100%);
  }

  .divider-line-two {
    transform: translate(100%);
  }

  h1 {
    color: #909590;
  }
}

#purpose-section {
  width: 1100px;
  font-size: 32px;
  margin: 0 auto 150px;

  p {
    line-height: 37px;
  }

  .purpose {
    margin-bottom: 65px;
    font-weight: 400;

    .purpose-heading {
      color: #909590;
      margin-left: 10px;
    }

    p {
      opacity: 0;
    }
  }

  .accept {
    margin-bottom: 20px;
  }

  .submit {
    margin-bottom: 90px;
  }
}

footer {
  height: 300px;
  #contact-me {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

    p {
      font-size: 32px;
    }

    .spinnin {
      font-size: 40px;
      font-weight: 500;
      text-decoration: none;
      webkit-animation-name: rotate;
      animation-name: rotate;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-rtl {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-ltr {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  .divider-line-one {
    animation-name: fade-rtl;
    animation-duration: 0.5s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
  }

  .divider-line-two {
    animation-name: fade-ltr;
    animation-duration: 0.5s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
  }
}

.purpose .fade-in {
  animation-delay: 0.85s;
  animation-duration: 0.5s;
  opacity: 1;
}
