<div id="profile-container" *ngIf="user$ | async as user">
  <div id="profile">
    <div id="profile-card-container">
      <div id="profile-card">
        <img src="{{ user.photo }}" alt="" />
        <h3 id="display-name">{{ user.userName }}</h3>
        <div class="stats">
          <p id="total-challenges">
            Total challenges:
            <span class="number">
              {{
                user.completedChallenges.length + user.acceptedChallenges.length
              }}
            </span>
          </p>
          <p id="active-challenges">
            Active challenges:
            <span class="number">{{ user.acceptedChallenges.length }}</span>
          </p>
          <p id="completed-challenges">
            Finished challenges:
            <span class="number">{{ user.completedChallenges.length }}</span>
          </p>
          <p id="registration-date">
            Registration date:
            <span class="highlight">{{ user.registrationDate }}</span>
          </p>
        </div>
      </div>
    </div>
    <div id="challenges">
      <div id="active" *ngIf="activeChallenges$">
        <p>Active challenges:</p>
        <div class="cards-container">
          <ng-container *ngFor="let challenge$ of activeChallenges$">
            <app-card
              *ngIf="challenge$ | async as challenge"
              [challenge]="challenge"
            >
              <button (click)="markAsCompleted(challenge.id)">
                Mark as Completed
              </button>
            </app-card>
          </ng-container>
        </div>
      </div>
      <div id="completed" *ngIf="finishedChallenges$">
        <p>Finished challenges:</p>
        <div class="cards-container">
          <ng-container *ngFor="let challenge$ of finishedChallenges$">
            <app-card
              *ngIf="challenge$ | async as challenge"
              [challenge]="challenge"
            >
            </app-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
