@use "@angular/material" as mat;

@include mat.core();

$noodle-palette: (
  50: #fbfef0,
  100: #fff0b5,
  200: #ec97c0,
  300: #e75a7c,
  400: #e75a7c,
  500: #909590,
  600: #2c363f,
  700: #000,
  800: #000,
  900: #000,
  contrast: (),
);

$noodle-theme-primary: mat.define-palette($noodle-palette, 600);
$noodle-theme-accent: mat.define-palette($noodle-palette, 100);
$noodle-theme-warn: mat.define-palette($noodle-palette, 200);

$noodle-theme: mat.define-dark-theme(
  (
    color: (
      primary: $noodle-theme-primary,
      accent: $noodle-theme-accent,
      warn: $noodle-theme-warn,
    ),
  )
);

@include mat.all-component-themes($noodle-theme);

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=League+Spartan:wght@300;400;500;700&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: mat.get-color-from-palette($noodle-palette, 50);
}

html,
body {
  height: 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  background-color: mat.get-color-from-palette($noodle-palette, 600);
}

.highlight {
  color: #fff0b5;
}
