<div>
  <ng-container *ngIf="noUser">
    <p>Authorize first to proceed</p>
  </ng-container>

  <ng-container>
    <div class="submit-box">
      <form
        [formGroup]="challengeGroup"
        (ngSubmit)="onSubmit()"
        (change)="isGitHubUrl()"
      >
        <input
          type="text"
          placeholder="Challenge name"
          formControlName="challengeName"
          autocomplete="off"
          required
        />
        <input
          type="text"
          placeholder="Preferred development stack"
          formControlName="devStack"
          autocomplete="off"
          required
        />
        <input
          type="text"
          placeholder="Estimated time to complete"
          formControlName="timeToComplete"
          autocomplete="off"
          required
        />
        <input
          type="url"
          placeholder="GitHub repo with starting files (any files you want)"
          formControlName="gitHub"
          autocomplete="off"
          required
        />
        <textarea
          id="summary"
          placeholder="Short project summary up to 250 sumbols"
          formControlName="summary"
          maxlength="250"
          autocomplete="off"
          required
        ></textarea>
        <button type="submit" [disabled]="!valid">
          {{ submited ? "Submited" : "Submit" }}
        </button>
      </form>
    </div>
  </ng-container>
</div>
